.form {
    display: flex;
align-items: flex-start;
justify-content: flex-start;
flex-direction: row;
gap: 8px;
margin: 62px auto;

}
.form-input {
    border-radius: 4px;
width: 272px;
height: 36px;
border: #808080 1px solid;
}
.search-btn {
    display: flex;
    align-items: center;
    justify-content: center;
border-radius: 8px;
padding: 8px 16px;
width: 91px;
height: 40px;
border: none;
background-color: #4E75FF;
color: #fff;
}

.search-btn:hover{
    background-color: #6C8CFF;
}
.form-input:hover {
    border: #000 1px solid;
}